body {
  Background: #557799;
  font-family: arial;
  color: white;
  text-align: left
}

heading {
  color: white;
  font-family: verdana;
  margin: 15%;
}

div {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin-left: 5%;
  text-align: left
}

